@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;400;600;700&display=swap');
body {
    background-color: bisque;
    font-family: "Funnel Display",sans-serif;
    margin: 0;
}
h1 {
    color:rgb(130 109 59)
}
a {
    margin-right:auto;
    color: inherit; 
    text-decoration: none; 
    cursor: text;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center; 
  padding: 20px;
}
.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding: 20px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(202, 168, 117);
}
.OtherPages {
    display: flex;             
    gap: 50px;  
}
.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 15px;              
    margin-top: 20px;
}

.controls input[type="text"], 
.controls button, 
.controls select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #888;
    cursor: pointer;
}
#Logo { 
    display: block; 
}